.coming_soon{
  height: 100vh;
  width: 100vw;
  background:
    linear-gradient(180deg, var(--white), var(--green-transparent),var(--green) 95%), 
    url('../assets/imgs/background/IMG_3261.jpg')
    no-repeat
    center
    center;
}

.content_wrapper {
  display: flex;
  flex-flow: row wrap;
  height: inherit;
  width: inherit;
  align-items: center;
  justify-content: space-evenly;

}

.content {
  max-width: 50rem;
  color: var(--white);
  margin: 1rem;
}

.content > h1 {
  margin: 3rem 0;
}

.content > h2, p {
  margin: 2rem 0;
}

.subscribe_button, .subscribe_input {
  display: block;
  height: 4rem;
  border-radius: 2rem;
  padding: 0 2rem;
  margin: 1rem 0;
}

.subscribe_input {
  width: 100%;
  background-color: var(--mint);
  border: .2rem solid var(--green);
  color: var(--green);
}

.subscribe_button {
  background-color: var(--green-transparent);
  border: .2rem solid var(--mint);
  color: var(--white);
  cursor: pointer;
  transition: background-color .2s;
}

.subscribe_button:hover{
  background-color: var(--mint);
  color: var(--green);
}

@media only screen and (max-width: 600px) {
  .content_wrapper {
    align-items: end;
  }
}
