.coming_soon{
  height: 100vh;
  width: 100vw;
  background:
    linear-gradient(180deg, var(--white), var(--green-transparent),var(--green) 95%), 
    url('../assets/imgs/background/IMG_3261.jpg')
    no-repeat
    center
    center;
  padding: 1rem;
}
