:root {
  --gold: #D3AB57;
  --green: #627362;
  --green-transparent:rgba(98, 115, 98, .8);
  --mint: #B2C4B3;
  --gray: #B2C4B3;
  --black: #202020;
  --white: #fff;
  --font-primary: 'Noto Serif', serif;
  --font-heading: 'Playfair Display', serif;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body, html {
  font-size: 10px;
  font-family: var(--font-primary);
  overflow-x: hidden;
}

h1, h2, h3, h4 {
  font-family: var(--font-heading);
}

h1 {
  font-size: 5rem;
  line-height: 5rem;
}

h2 { 
  font-size: 4rem;
  line-height: 4rem;
}

p, input, button {
  font-size: 2rem;
  line-height: 3rem;
  font-family: var(--font-primary);
}

form {

}

input {
  border: none;
  outline: none;
  font-size: 2rem;
}

.floh_logo {
  width: 10rem;
  position: absolute;
  margin: 2.5rem;
}

@media only screen and (max-width: 600px) {
  body, html {
    font-size: 8px;
  }
}
